<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.android">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".lesson1.XmlHelloWorldActivity" />
        <activity android:name=".lesson2.XmlCounterActivity" />
        <activity android:name=".lesson1.ComposeHelloWorldActivity" />
        <activity android:name=".lesson2.ComposeCounterActivity" />
        
        <activity android:name=".lesson3.XmlListActivity" />
        <activity android:name=".lesson3.ComposeListActivity" />
        <activity android:name=".lesson4.XmlTodoActivity" />
        <activity android:name=".lesson4.ComposeTodoActivity" />
    </application>
</manifest>
